.AboutContainer {
  margin-top: 80px;
  height: 500px;
}
.JudulAboutUs {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.TitleAboutUs {
  color: black;
  font-weight: 400;
  font-size: 30px;
}

.DetailAbout {
  padding-left: 20%;
  padding-right: 20%;
  justify-content: center;

  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}
.ContentAbout {
  /* text-align: center; */
  margin: auto;
  text-align: center;

  font-size: 1vw;
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  .DetailAbout {
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;

    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
  }
  .ContentAbout {
    font-size: 3vw;
  }
}
@media only screen and (min-width: 600px) {
  .DetailAbout {
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;

    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
  }
  .ContentAbout {
    font-size: 2vw;
  }
}
