.HomePageContainer {
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 30px;
  height: 800px;
}

.BajuBox {
  margin: auto;
  width: 20vw;
  height: 20vw;
  text-align: center;
  cursor: pointer;

  border: 5px solid #111111;
  border-radius: 10px;
  padding: 10px;
  /* max-width: 200; */
}

.ColumnBaju {
  /* padding-bottom: 30px; */
  padding: 20px 80px;
}

.ImgBaju {
  width: 100%;
  height: auto;
  margin: auto;
}

@media only screen and (max-width: 1000px) {
  /* .BajuBox {
    margin-bottom: 20px;
  } */
  .ColumnBaju {
    padding-bottom: 30px;
  }
  .BajuBox {
    width: 45vw;
    height: 45vw;

    /* max-width: 200; */
  }
}

@media only screen and (max-width: 600px) {
  .ColumnBaju {
    /* padding-bottom: 30px; */
    padding: auto auto;
  }
  .BajuBox {
    width: 40vw;
    height: 40vw;

    /* max-width: 200; */
  }
}
