.Brand {
  font-size: 55px;
  text-align: center;
}
/* 
untuk rownya */
.RowNavbar {
}

.SearchIcon {
  font-size: 30px !important;
  cursor: pointer;
}
/* Untuk nama Brand */
.NamaBrand {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-weight: 1000;
}
.namaHalu {
  color: #ff1620;
}
.namaDulu {
  color: #025202;
}

.logo {
  padding-top: 30px;
  font-size: 30px;
}

.logo2 {
  padding-top: 30px;
  font-size: 40px;
}

.Border {
  display: flex;
  flex-direction: row;
}

.borderkiri {
  background-color: #025202;
  height: 18px;
}
.borderkanan {
  background-color: #ff1620;
  height: 18px;
}

.borderkanan,
.borderkiri {
  width: 50%;
}

.link2 {
  color: #111111;
}
.link2:hover {
  color: #111111;
  border-bottom: 5px solid #ff1620;
}
.Brand-Link {
  color: none;
  border-bottom: hidden;
}

.Brand-Link:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

@media only screen and (max-width: 600px) {
  .Brand {
    font-size: 40px;
    text-align: center;
  }
  .logo {
    padding-top: 10px;
    font-size: 15px;
  }

  .logo2 {
    padding-top: 10px;
    font-size: 35px;
  }
}

@media only screen and (max-width: 480px) {
  .Brand {
    font-size: 30px;
    text-align: center;
    margin-right: 0px !important;
  }
  .logo {
    padding-top: 0px;
    font-size: 35px;
  }

  .logo2 {
    padding-top: 0px;
    font-size: 35px;
  }

  .navbar {
    margin-bottom: 0px !important;
  }
  .navbar,
  .NavbarContainer {
    padding-left: 0px !important;
    padding-right: 0px !important;
    /* overflow: hidden !important; */
  }
}
