.LoginContainer {
  height: 300px;
  margin-top: 100px;
}

.LoginBox {
  margin: 0 auto;
  width: 40%;
  height: auto;
}

.LabelText {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 20%;
}
.ButtonLogin {
  margin: 0 auto !important;
  border: 1px solid transparent;
  background-color: #025202;
  color: white;
  width: 150px;
}

.ButtonLogin:hover {
  font-weight: 1000;
  border: 1px solid #025202;
  margin: 0 auto !important;
  background-color: transparent;
  color: black;
  width: 150px;
}

.buttonandspinner {
  margin: auto;
  text-align: center !important;
}
.loadingSpinnerlogin {
  color: #025202;
  margin-left: 10px;
}
.showSpinner {
  visibility: visible;
}
.hideSpinner {
  visibility: hidden;
}
.failedLogin {
  color: red;
  margin-top: 20px;
}

.formBasicEmail {
  width: 80% !important;
}
.Input-Control {
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  .Input-Control {
    font-size: 10px;
  }

  .ButtonLogin {
    margin: 0 auto !important;
    border: 1px solid transparent;
    background-color: #025202;
    color: white;
    width: 100px;
  }

  .ButtonLogin:hover {
    font-weight: 1000;
    border: 1px solid #025202;
    margin: 0 auto !important;
    background-color: transparent;
    color: black;
    width: 100px;
  }
  .failedLogin {
    width: 200px;
  }
}
