<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HALUDULU</title>
  </head>
  <body>
    <p>Hi! Thank you for purchasing at Haludulu,</p>
    <p>Details of your purchasement can be seen below:</p>
    <br />
    {% for values in products %} {{ forloop.counter }}. {{values.name}}
    <img src="{{values.main_img}}" alt="product image" />
    <p>Size: {{values.size}}</p>
    <p></p>
    <p>Stock: {{values.stock}}</p>
    <p></p>
    <p>Price: {{values.price}}</p>
    <br />
    <p>{% endfor %}</p>

    <p>
      Payment can be done by making a transfer to this account below: <br />
      - BCA: 160954620 an Haludulu <br />
      <br />
      After completing the payment please Whatsapp this number below and send
      the payment confirmation: <br />
      Whatsapp: 081239468122
      <br />
      Thank you for shopping at Haludulu!
      <br /><br />
      Best regards, <br />
      Haludulu
    </p>
  </body>
</html>
